<div class="bottomLine">
<svg xmlns="http://www.w3.org/2000/svg" width="360" height="14" viewBox="0 0 360 14" fill="none">
    <g clip-path="url(#clip0_3_1283)">
    <rect width="360" height="14" fill="white"/>
    <rect x="132" y="5.5" width="96" height="3" rx="1.5" fill="#0A1F34"/>
    </g>
    <defs>
    <clipPath id="clip0_3_1283">
    <rect width="360" height="14" fill="white"/>
    </clipPath>
    </defs>
    </svg>
</div>
