<div class="top_header" style="position: absolute; right: 0;">
    <svg xmlns="http://www.w3.org/2000/svg" width="360" height="24" viewBox="0 0 360 24" fill="none">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M316 7H306V17H316V7ZM324 12C324 9.23858 326.239 7 329 7C331.761 7 334 9.23858 334 12C334 14.7614 331.761 17 329 17C326.239 17 324 14.7614 324 12ZM346 17L352 7H340L346 17Z" fill="black"/>
        <mask id="mask0_3_1166" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="306" y="7" width="46" height="10">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M316 7H306V17H316V7ZM324 12C324 9.23858 326.239 7 329 7C331.761 7 334 9.23858 334 12C334 14.7614 331.761 17 329 17C326.239 17 324 14.7614 324 12ZM346 17L352 7H340L346 17Z" fill="white"/>
        </mask>
    </svg>
  </div>
  