<div class="payment_complemation size_mobile"  >
  <div class="main_container">
    <div class="payment_success_box">
      {% if section.settings.title_text != blank %}
        <h2>{{ section.settings.title_text }}</h2>
      {% endif %}
    </div>
  </div>
   
</div>
<script>
  {% comment %} setTimeout(() => {
    window.location.href = "/pages/success-activation";
  }, 3000); {% endcomment %}






</script>
{% schema %}
{
  "name": "Payment completion",
  "class": "payment-completion",
  "settings": [
    {
      "type": "text",
      "id": "title_text",
      "label": "Title",
      "default": "Payment completion with CRED Pay"
    },
    {
      "type": "color",
      "id": "body_text",
      "label": "Body text color",
      "default": "#000000"
    }
  ],
  "presets": [
    {
      "name": "Payment completion"
    }
  ]
}
{% endschema %}
