# Server Configuration
PORT=3000

# Fitpass API Configuration
FITPASS_API_URL=https://services.fitpass.dev/cred/order-confirmation
FITPASS_AUTH_TOKEN=l9xGmxeF6GU4djgsMDBWG9ui0xeDhvR7qxbWq1M9
FITPASS_APP_KEY=fhskjdhfkjsdahgkjadsfmgbasdiughdiag

# Shopify App Configuration (Get these from Shopify Partners Dashboard)
SHOPIFY_API_KEY=your_api_key_here
SHOPIFY_API_SECRET=your_api_secret_here

# Your Shopify Store Domain (for CORS)
SHOP_DOMAIN=your-store.myshopify.com

